@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 75px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #000;
}

.content 
{
    position: relative;
}

.content h2
{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 9em;
}

.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%
    {
      clip-path: polygon(0 40%, 15% 43%, 32% 49%, 47% 56%, 64% 59%, 80% 56%, 100% 48%, 99% 99%, 0% 100%);
    }

    50%
    {
        clip-path: polygon(0 50%, 14% 61%, 30% 67%, 48% 64%, 64% 55%, 80% 45%, 100% 44%, 99% 99%, 0% 100%);
    }
}