@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 75px;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #000;
}

.content 
{
    position: relative;
}

.content h2
{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 9em;
}

.content h2:nth-child(1)
{
    color: transparent;
    text-shadow: -2px 2px 0px #183954,
    -4px 4px 0px #183954,
    -6px 6px 0px #183954,
    -8px 8px 0px #183954,
    -18px 18px 20px rgba(0,0,0,0.5),
    -18px 18px 50px rgba(0,0,0,0.5);
}

.content h2:nth-child(2)
{
    color: #2196f3;
    opacity: 0.5;
    animation: animate 4s ease-in-out infinite;
}

.content h2:nth-child(3)
{
    color: #2196f3;
    opacity: 0.5;
    animation: animate 8s ease-in-out infinite;
}

.content h2:nth-child(4)
{
    color: #2196f3;
    animation: animate 5s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
      clip-path: polygon(0 40%, 15% 43%, 32% 49%, 47% 56%, 64% 59%, 80% 56%, 100% 48%, 99% 99%, 0% 100%);
    }

    50%
    {
        clip-path: polygon(0 50%, 14% 61%, 30% 67%, 48% 64%, 64% 55%, 80% 45%, 100% 44%, 99% 99%, 0% 100%);
    }
}